

.HeaderLogo{
    margin-left: 22%;

}

.navBar{
    width:100%;
    margin-left:4%;
    
 
}

body{
    background-image: url("/img/herovillain.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-y: 400px;
    background-position-x: 1100px;
    background-size: 1400px;
}

.save{
    size: 400px;
}
table{
    font-size:	20px;
   font-weight:bold;
   
}
.form{
    font-weight:bold;
}
